@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway.regular.ttf');
    font-weight: 400;
    font-style: normal;
}

h3{
	display: inline-block;
	margin-left: 20px;
}

.jumbotron, .jumbotron a{
	margin-top: 10px;
}

/* Ajustes Luis */
@font-face {
    font-family: "AvantGarde";
    src: url('../fonts/ITCAvantGardeStd-Bold.otf') format("opentype");
}

h1, h2, h3, h4, h5, h6 {
	font-family: "AvantGarde", "Raleway", Arial;
}

h1 {
	text-transform: uppercase;
	font-size: 30px;
}

body {
	font-family: "Raleway", Arial;
}

.container .jumbotron, .container-fluid .jumbotron {
	padding-left: 30px;
	padding-right: 30px;
}

@media (max-width: 448px) {
	.container .jumbotron, .container-fluid .jumbotron {
		padding-left: 0;
		padding-right: 0;
	}
	.jumbotron .row {
		padding-left: 0;
		padding-right: 0;
	}
}

.jumbotron {
	background-color: #ffffff;
}

.jumbotron > .row:first-of-type{
	margin-left: 0;
	margin.right: 0;
	background-color: #eb1f1f;
	padding: 45px 10px;
	margin: 30px 0;
}

.jumbotron h1 {
	font-size: 30px;
	text-transform: uppercase;
}

.jumbotron p {
	font-size: 14px;
}

.jumbotron .btn-primary {
	background-color: #404040;
	border-radius: 0;
	border: none;
	font-size: 20px;
	text-transform: uppercase;
	font-family: "AvantGarde";
	padding: 10px 40px;
}

.jumbotron .btn-primary:focus {
	background-color: #777777;
}

/* Estilos Chema */
#fileUpload {
	color: white;
}

.cargar {
	margin-top: 25px;
}

.spinner {
	margin-top: 38px;
	display: block;
	position: absolute;
	margin-right: -6%;
	left: -7%;
}

.instrucciones {
	margin-top: 5%;
}

.instrucciones li {
	margin-top: 20px;
}

.instrucciones p:first-of-type {
	margin-top: 8%;
}

.instrucciones p {
	margin-left: 20px;
}
